.calendarContainer {
    display: flex;
    /* flex-direction: column; */

    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    width: 300px;
    font-family: Arial, sans-serif;
}

.header {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 300px;
    overflow-y: scroll;
    height: 500px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 24px;
}

.temp {
    font-size: 16px;
    font-weight: bold;
}

.minTemp {
    font-size: 12px;
    color: #666;
}

.header h2 {
    color: #fff;
}