.input {
    background-color: #b9b9b9;
    padding: 0px;
    border-radius: 10px;
    width: 100%;
}

.input::placeholder {
    color: #fff;
}

.search {
    display: flex;
    width: 300px;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}


ul {
    background-color: #b9b9b9;
    margin-top: 20px;
    width: 90%;
    padding: 5px;
    margin-left: 10px;
    border-radius:10px;
}

li {
    padding: 11px 9px;
    text-transform: uppercase;
}